.Dashboard {
  display: flex;
  justify-content: space-between;



  &__top {
    margin-bottom: $padding-lg;
    border-bottom: 2px solid $color-grey;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: $size-title;
    text-transform: capitalize;
  }

  &__right {
    width: 30%;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
  }

  &__user {
    border: 1px solid grey;

    &-name {
      font-size: $size-text;
      margin: 2rem auto;
      display: inline-block;
    }

    &-photo {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border: 1px solid $color-black;
      margin: 6rem auto 2rem auto;
    }
  }

  &__links {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $color-grey;

    &-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0.7rem 0;
      font-size: $size-user;
      color: $color-primary;
    }
  }

  // editor
  &__editor {
    // Perfect width to match announcement
    width: 74.5%;

    @media only screen and (max-width: 62.5em) {
      width: 65%;
    }
  }

  &__left {
    width: 70%;
    height: 100%;
    padding-right: 4rem;
  }

  &__announcements {
    height: calc(#{$container-min-height} - #{$size-title} - 2 *#{$padding-lg} - 7rem - 1rem - 1rem);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-shrink: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    & * {
      flex-shrink: 0;
    }
  }

  &__facebook {
    border: none;
    margin: 0 auto;
    overflow: hidden;

    @media only screen and (max-width: 71.8em) {
      margin-bottom: 2rem;
    }
  }

  &__announcement {
    width: 100%;
    margin-bottom: $padding-lg;
    padding: 2rem;
    border: 2px solid $color-grey;
    border-radius: 5px;
    @include boxshadow;

    &-title {
      font-size: $size-title;
      margin-bottom: 3rem;
    }

    &-bottom {
      margin-top: $padding-lg;
      font-style: italic;
    }

    &-buttons {
      display: flex;
      margin-top: 2rem;
      width: 9rem;
      justify-content: space-around;
    }
  }
}