.Dashboard {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__top {
    height: $button-height;
    font-size: $size-title;
    font-weight: bold;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding-lg;
  }

  &__title {
    font-size: $size-title;
  }

  &__left {
    width: 70%;
    height: 100%;
    padding-right: 4rem;
  }

  &__announcements {
    height: calc(#{$container-min-height} - #{$button-height} - 2*#{$padding-lg} - 7rem);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-shrink: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    & * {
      flex-shrink: 0;
    }
  }

  &__facebook {
    border: none;
    margin: 0 auto;
    overflow: hidden;
  }

  &__right {
    width: 30%;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
  }


  &__user {
    border: 1px solid grey;

    &-name {
      font-size: $size-text;
      margin: 2rem auto;
      display: inline-block;
    }

    &-photo {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border: 1px solid $color-black;
      margin: 6rem auto 2rem auto;
    }
  }

  &__links {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $color-grey;


    &-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: .7rem 0;
      font-size: $size-user;
      color: $color-primary;
    }
  }
}