.Post {
    width: 100%;

    &__title {
        overflow-wrap: break-word;
        text-align: center;
        color: $color-secondary;
        font-size: $size-post-title;
        margin-bottom: 2rem;
    }

    &__post {
        @include post;
        border-radius: 5px;
        margin-bottom: 7rem;

        &Body-text {
            margin-bottom: 5rem;
        }

        &User-name {
            font-weight: bold;
        }

        &Buttons {

            &-edit,
            &-delete {
                margin: 1rem;
                margin-top: 2rem;
                font-size: $size-alert;
                text-decoration: none;
                display: inline-block;
                width: fit-content;
                padding: 1rem;
                border: none;
                border-radius: 5px;
                @include boxshadow;

                &:hover {
                    cursor: pointer;
                }
            }

            &-edit {
                background-color: $color-grey;
                color: $color-black;
            }

            &-delete {
                background: $color-danger;
                color: $color-white;
            }
        }

    }

    &__comment {
        @include post;

        &:not(:last-of-type) {
            border-bottom: 1px solid $color-grey;
        }

        &-trash {
            border: none;
            background: none;
            display: inline-block;
            cursor: pointer;
            font-size: 3rem;
            margin-left: 2rem;
            color: $color-danger;

            &:hover {
                animation: tada 1s infinite;
            }

            &::after {
                content: 'Delete';
                font-size: 1.2rem;
                display: none;
            }

            &:hover::after {
                display: inline-block;
            }
        }
    }

    &__addComment {
        margin-top: 5rem;
        padding-top: 5rem;

        &-title {
            font-size: 2rem;
        }
    }

    &__back {
        display: inline-block;
        text-decoration: none;
        font-size: 1.3rem;
        background: $color-grey;
        color: $color-black;
        cursor: pointer;
        margin-bottom: 5rem;
        overflow: hidden;
        position: relative;
        transition: all .5s;

        &>* {
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: all .5s;
        }

        &-visible {
            padding: .7rem 3rem;
        }

        &-invisible {
            padding: .7rem 1.5rem; //left padding must be half of visible's padding
            position: absolute;
            right: -100%;
            top: 0;
        }

        &:hover &-visible {
            transform: translateX(-100%);
        }

        &:hover &-invisible {
            right: 0;
        }

    }

    &__page {
        display: flex;
        padding: 0 3rem;
        margin-top: 5rem;
        justify-content: flex-end;
        font-size: 1.2rem;
        align-items: center;

        &-buttons {
            text-decoration: none;
            color: $color-white;
            background: $color-secondary;
            border-radius: 3px;
            width: 8rem;
            padding: .5rem;
            display: flex;
            justify-content: center;
            transition: .2s all;

        }

        &-next {
            margin-left: 2rem
        }

        &-prev {
            margin-right: 2rem
        }
    }

}