.Post {
    &__post {
        @include post;
        margin-bottom: 7rem;
        @include boxshadow;

        &Body {
            &-title {
                color: $color-secondary;
                font-size: $size-discussion-title;
                margin-bottom: 2rem;
            }
        }

        &Buttons {

            &-edit,
            &-delete {
                margin: 1rem;
                margin-top: 2rem;
                font-size: $size-alert;
                color: $color-secondary;
                text-decoration: none;
                display: inline-block;
                width: fit-content;
                padding: 1rem;
                border: none;
                @include boxshadow;
                background-color: $color-grey-light;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

    &__comments {
        @include post;

        &Small {
            display: flex;
            align-items: center;
        }

        &-trash {
            font-size: 2rem;
            margin-left: 2rem;
            color: $color-danger;
        }
    }

}