@mixin post {
    display: flex;
    width: 98%; // match with editor in addcomment
    padding: 4rem $padding-post-title $padding-post-title 2rem;
    text-decoration: none;
    color: inherit;

    @media only screen and (max-width: 62.5em) {
        flex-direction: column;
        margin: 0 auto;

    }

    @media only screen and (max-width: 40.625em) {
        padding-left: 0;
        padding-right: 0;
    }

    &User {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        width: $userWidth;
        margin-right: 1rem;
        flex-shrink: 0;

        @media only screen and (max-width: 62.5em) {
            flex-direction: row;
            width: 100%; //same with body
            margin: 0 auto 2rem auto;
        }

        @media only screen and (max-width: 40.625em) {
            width: 92%;
        }

        @media only screen and (max-width: 32.5em) {
            width: 91%;
        }

        @media only screen and (max-width: 28.125em) {
            width: 90%;
        }

        @media only screen and (max-width: 25em) {
            width: 89%;
        }

        @media only screen and (max-width: 23.4375em) {
            width: 87%;
        }

        @media only screen and (max-width: 20.625em) {
            width: 86%;
        }


        &-img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            object-fit: cover;
            flex-shrink: 0;

            @media only screen and (max-width: 40.625em) {
                width: 5rem;
                height: 5rem;
            }
        }

        &-name {
            margin-top: 1.5rem;
            display: inline-block;
            font-size: $size-discussion-text;
            // display: flex;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;


            @media only screen and (max-width: 62.5em) {
                margin-left: 2rem;
                text-align: left;
            }
        }
    }

    &Body {
        display: flex;
        flex-direction: column;
        width: postBodyWidth($userWidth);
        position: relative;
        // just same as text editor width

        @media only screen and (max-width: 62.5em) {
            width: 100%;
            margin: 0 auto;
        }

        @media only screen and (max-width: 40.625em) {
            width: 92%;
        }

        @media only screen and (max-width: 32.5em) {
            width: 91%;
        }

        @media only screen and (max-width: 28.125em) {
            width: 90%;
        }

        @media only screen and (max-width: 25em) {
            width: 89%;
        }

        @media only screen and (max-width: 23.4375em) {
            width: 87%;
        }

        @media only screen and (max-width: 20.625em) {
            width: 86%;
        }

        &-text {
            display: inline-block;
            overflow: hidden;
            margin-bottom: 2rem;
        }

        &-date,
        &-edited {
            display: block;
            font-size: $size-discussion-date;
        }


        &-edited {
            margin: 1rem 0;
        }
    }

    &Bottom {
        display: flex;
        align-items: center;
    }
}

@mixin boxshadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.164);
}

@mixin editorButtons {
    color: rgb(187, 183, 183);
    cursor: pointer;
    margin-right: 2rem;
    padding: 2px 0;
    display: inline-block;
}

@mixin links {
    text-decoration: none;
    display: inline-block;
}

@mixin postEditor {
    // fitted to be same as post
    width: 98%;

}