@mixin post {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem;
    text-decoration: none;
    color: inherit;

    &User {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        &-img {
            width: 10rem;
        }

        &-name {
            margin-top: 1.5rem;
            display: inline-block;
            font-size: $size-discussion-text;
        }
    }

    &Body {
        display: flex;
        flex-direction: column;
        width: 80%;
        position: relative;
        // just same as text editor width

        &-text {
            display: inline-block;
            overflow: hidden;
            padding-top: 5rem;
            margin-bottom: 5rem;
        }

        &-date,
        &-edited {
            display: block;
            font-size: $size-discussion-date;
        }


        &-edited {
            margin: 1rem 0;
        }
    }

    &Bottom {
        display: flex;
        align-items: center;
    }




}

@mixin boxshadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.164);
}

@mixin editorButtons {
    color: rgb(187, 183, 183);
    cursor: pointer;
    margin-right: 2rem;
    padding: 2px 0;
    display: inline-block;
}

@mixin links {
    text-decoration: none;
    display: inline-block;
}