$size-title: 3rem;
$size-label: 1.5rem;
$size-alert: 1.2rem;
$size-link: 1.7rem;
$size-logo: 4rem;
$size-text: 1.7rem;
$size-button: 1.5rem;
$size-post-title: 4.5rem;
$size-discussion-title: 1.7rem;
$size-discussion-text: 1.2rem;
$size-discussion-date: 1rem;

$padding-link: .7rem;