$color-primary: rgb(131, 0, 44);
$color-secondary: rgb(22, 27, 65);
$color-secondary-light: rgba(25, 29, 61, 0.719);
$color-footer: rgba(107, 107, 107, 0.26);
$color-link: rgb(2, 49, 151);
$color-white: rgb(236, 235, 235);
$color-black: rgb(0, 0, 0);
$color-grey-light: rgba(241, 236, 236, 0.432);
$color-grey: rgba(173, 173, 173, 0.589);
$color-grey-dark: rgb(85, 83, 83);
$color-danger: rgba(211, 11, 11, 0.74);
$color-danger-background: rgba(236, 236, 236, 0.24);
$color-success: rgb(38, 85, 23);
$color-success-background: rgba(179, 243, 159, 0.582);
$color-input: #ffffff;
$color-line: #f1f1f1;

$button-height: 5rem;
$navbar-height: 15vh;
$footer-height: 10vh;