.btn {
    width: 20rem;
    height: $button-height;
    border: none;
    box-shadow: 0px 1px 1px 1px rgba($color: $color-grey, $alpha: .7);
    font-size: $size-button;
    @include links;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(.95);
    }

    &__cancel {
        background: $color-grey;
        color: $color-black;
        width: 10rem;
        height: 3rem;
    }

    &__edit {
        &-xs {
            font-size: $size-alert;
            background-color: $color-grey;
            color: $color-black;
            height: auto;
            width: 7rem;
            padding: 1rem;
            border-radius: 5px;
            @include boxshadow;
        }
    }

    &__delete {
        background: $color-danger;
        color: $color-white;

        &-small {
            background: $color-danger;
            color: $color-white;
            width: 10rem;
            height: 3rem;
            font-size: $size-alert;
        }

        &-xs {
            font-size: $size-alert;
            background: $color-danger;
            color: $color-white;
            height: auto;
            width: 7rem;
            padding: 1rem;
            border-radius: 5px;
            @include boxshadow;
        }
    }

    &__submit {
        background: $color-secondary;
        color: $color-white;

        &-small {
            background: $color-secondary-light;
            color: $color-white;
            width: 10rem;
            height: 3rem;
            font-size: $size-alert;
        }
    }
}