.btn {
    width: 20rem;
    height: $button-height;
    border: none;
    font-size: $size-button;
    border: 1px solid $color-grey;
    @include links;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(.95);
    }

    &__cancel {
        background: $color-grey;
        color: $color-black;
        width: 10rem;
        height: 3rem;
    }

    &__edit {
        &-xs {
            font-size: $size-alert;
            background-color: $color-grey;
            color: $color-black;
            height: auto;
            width: fit-content;
            max-width: 7rem;
            padding: .5rem;
            border-radius: 5px;
            @include boxshadow;
        }
    }

    &__delete {
        background: $color-danger;
        color: $color-white;

        &-small {
            background: $color-danger;
            color: $color-white;
            width: 10rem;
            height: 3rem;
            font-size: $size-alert;
        }

        &-xs {
            font-size: $size-alert;
            background: $color-danger;
            color: $color-white;
            height: auto;
            width: fit-content;
            max-width: 7rem;
            padding: .5rem;
            border-radius: 5px;
            @include boxshadow;
        }
    }

    &__submit {
        background: $color-secondary;
        color: $color-white;

        &-small {
            background: $color-secondary-light;
            color: $color-white;
            width: 10rem;
            height: 3rem;
            font-size: $size-alert;
        }
    }

    &__announcement {
        width: fit-content;
        max-height: $size-title;
        padding: 0 3rem;
        cursor: pointer;
    }

}