.Editor {
    display: inline-block;
    line-height: 2rem;
    overflow: hidden;
    width: 100%;
    font-size: $size-discussion-text;
    margin-bottom: 2rem;

    &__textbox {
        margin: 4rem auto;
        width: 100%;
    }

    &__blockquote {
        position: relative;
        padding-left: 1.5rem;
        border-left: 0.5rem solid $color-grey;
        font-style: italic;
        font-size: $size-discussion-text;
        font-weight: 100;

        &:before,
        &:after {
            content: '\201C';
        }

        &:after {
            content: '\201D';
        }

    }


}