.RichEditor-root {
    background: #fff;
    width: 88%;
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin: 5rem 0;

    &__controls {
        display: flex;
    }
}

.RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 1.5rem;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 10rem;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 1.5rem 0;
    padding: 1rem 2rem;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 1.5rem;
    padding: 2rem;
}

.RichEditor-controls {
    font-family: "Helvetica", sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    user-select: none;

    &:not(:last-of-type) {
        margin-right: 3rem;
    }
}

.RichEditor-styleButton {
    @include editorButtons;
}

.RichEditor-activeButton {
    color: #000000;
}

.RichEditor__addImage {
    &-addImagePopover {
        background: #fff;
        position: absolute;
        height: 5rem;
        width: 30rem;
        border-radius: 2px;
        padding: 1rem;
        box-shadow: 0px 4px 30px 0px rgba(220, 220, 220, 1);
        z-index: 1000;
    }

    &-addImageClosedPopover {
        display: none;
    }

    &-addImageInput {
        border: 1px solid #ddd;
        cursor: text;
        padding: 0.4rem;
        width: 78%;
        border-radius: 2px;
        margin-bottom: 1rem;
        box-shadow: inset 0px 1px 8px -3px #ababab;
        background: #fefefe;
    }

    &-addImageConfirmButton {
        background: #fff;
        border: 1px solid #ddd;
        padding: 0;
        color: #888;
        margin: 0;
        border-radius: 5rem;
        cursor: pointer;
        height: 2.1rem;
        width: 18%;
        font-size: $size-label;
        margin: 0;
        margin-left: 4%;
    }
}


div.DraftEditor-root {
    width: 100%;
    font-size: $size-text;
    font-family: Arial, Helvetica, sans-serif;
}

.RichEditor-ReadOnly {
    img:hover {
        box-shadow: none;
        border-radius: none;
    }
}

.public-DraftStyleDefault-ltr {
    font-size: 1.5rem;
    line-height: 150%;
}