.Form {

    >hr {
        border: 1px solid $color-line;
    }

    >h1 {
        font-size: $size-title;

        @media only screen and (max-width: 40.625em) {
            font-size: $size-title-650;
        }
    }

    &__text {
        font-size: $size-label;
        margin: 1.5rem 0;

        @media only screen and (max-width: 40.625em) {
            font-size: $size-editor-text-650;
        }

        @media only screen and (max-width: 25em) {
            font-size: 1.6rem;
        }
    }

    &__form {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        input[type=text],
        input[type=password],
        input[type=email],
        input[type=file] {
            width: 100%;
            max-width: 60rem;
            padding: 1rem;
            margin-top: .5rem;
            margin-bottom: 2rem;
            height: 4rem;
            background: $color-input;
            border: 1px solid $color-grey;
            font-size: 1.6rem;

            &:focus {
                outline: none;
            }
        }

        >input[type=file] {
            padding: 0;
            height: auto;
        }




        >label {
            font-size: $size-label;
            display: inline-block;
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: 40.625em) {
                font-size: $size-editor-text-650;
            }
        }

        >input[type=submit] {
            margin: 4rem 0;
        }


    }

    &__btns {
        margin: 4rem 0;

        >button {
            margin-right: 3rem;
        }
    }

    &__link {
        display: inline-block;
        width: fit-content;
        padding-bottom: $padding-link;
        text-decoration: none;
        font-size: $size-link;
        color: $color-link;

        @media only screen and (max-width: 25em) {
            font-size: 1.6rem;
        }
    }

    &__goBack {
        text-decoration: none;
        margin-bottom: 5rem;

        @media only screen and (max-width: 25em) {
            font-size: 1.6rem;
        }


    }
}