.Alert {
    display: block;
    font-size: $size-alert;
    padding: 2rem;
    line-height: double($size-alert);
    margin: 2rem 0;
    border-radius: 2px;
    width: 100%;

    &__fail {
        color: $color-danger;
        background: $color-danger-background;
    }

    &__success {
        color: $color-success;
        background: $color-success-background;
    }


}