.Container {
    max-width: 120rem;
    min-height: $container-min-height;
    padding: $padding-lg 1rem 1rem 7rem;
    margin: 0 auto;

    @media only screen and (max-width: 40.625em) {
        padding: $padding-lg 3rem 1rem 3rem;
    }

    @media only screen and (max-width: 31.25em) {
        padding: $padding-lg 1rem 1rem 1rem;
    }
}