.Footer {
    background: $color-footer;
    color: $color-grey-dark;
    height: $footer-height;
    display: flex;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;

    &__middle {
        display: flex;
    }

    &__left {
        margin-left: 10rem;
    }

    &__text {
        font-size: $size-label;
        color: $color-secondary;
        font-weight: 600;
        text-align: center;
        display: block;
        margin: 2rem auto;

    }

    &__credit {
        color: $color-primary;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }

    &__right {
        display: flex;
        margin-right: 2rem;
    }

    &__tagline {
        width: auto;
        height: 6vh;
    }

    &__link {
        font-size: $size-link;
        font-weight: 600;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__logo {
        font-size: $size-logo;
        margin-left: 1rem;


        &-facebook {
            color: rgb(33, 71, 128);
        }

        &-instagram {
            color: $color-white;
            border-radius: 25%;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        }
    }
}