.Navbar {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: $navbar-height;
    background-color: $color-primary;
    background: linear-gradient(0deg, rgba(79, 0, 14, 1) 0%, rgba(112, 0, 32, 1) 50%, rgba(131, 0, 44, 1) 100%);
    align-items: center;
    padding: .5rem 5rem;
    box-shadow: 0px 3px 5px -1px $color-grey;

    &__left {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__right {
        margin-left: auto;
    }

    &__item {
        display: inline-block;
        font-size: $size-link;
        margin: 0 1rem;
        color: $color-white;
    }

    &__logo {
        display: block;
        height: logoHeight($navbar-height);
    }

    &__header {
        display: flex;
        flex-direction: column;

        &-text {
            font-size: 2.3rem;
            font-weight: 600;
            padding-bottom: 0.7rem;
        }

        &-caption {
            font-size: 1.3rem;
            padding-left: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        position: relative;
        display: inline-block;
        padding: 0.7rem 0;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}